.container {
  padding: 0 10px;
  min-height: 100vh;
}

/* hero_container */

.hero_image_container {
  min-width: 300px;
  max-width: 600px;

  margin-top: 20px;
  border-radius: 8px;
  background-image: url("../../assets/Abstract_Design.png");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #f0f0fb;
}

.hero_image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.hero_text_heading {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 600;
}

.hero_text_paragraph {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  color: #9a9a9a;
}

.hero_analytics_container {
  display: grid;
  margin-top: 40px;
  gap: 6px;
  grid-template-rows: repeat(2, 1fr);
}

.first_row {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(2, 1fr);
}

.analytics_sub_container {
  text-align: center;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
  padding: 16px;
  background-color: #f0f0fb;
}

.analytics_heading {
  font-size: 24px;
}
.analytics_paragraph {
  font-size: 14px;
  color: #9a9a9a;
}

@media (min-width: 1080px) {
  .hero_container {
    display: flex;
    gap: 60px;
    flex-direction: row-reverse;
  }
  .hero_image_container {
    flex: 1;
  }
  .hero_info {
    flex: 1;
    padding-left: 80px;
  }
  .hero_text_heading {
    font-size: 46px;
  }
  .hero_text_paragraph {
    font-size: 16px;
  }
  .hero_button_container {
    flex-direction: row;
  }
  .hero_button_container button {
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .hero_container {
    gap: 80px;
  }
  .hero_info {
    padding-left: 162px;
  }
  .hero_text_heading {
    font-size: 60px;
  }
  .hero_text_paragraph {
    font-size: 18px;
  }
  .hero_button_container button {
    padding: 18px 24px;
  }
}

/* featured_container */

.featured_container {
  margin-top: 40px;
  max-width: 1280px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.abstract_container {
  width: 40px;
}
.abstract_star_image {
  width: 100%;
}
.featured_sub_container {
  margin-top: 10px;
}

.featured_text_heading {
  font-size: 28px;
  font-weight: 600;
}

.featured_text_paragraph {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  color: #9a9a9a;
}

.ourValue_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.values_container {
  padding: 24px;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  box-shadow: 0 0 10px #e2e2e2;
}
.value_heading {
  display: flex;
  align-items: center;
  gap: 8px;
}
.value_logo_container {
  width: 52px;
  height: 52px;
}
.value_logo {
  width: 100%;
  height: 100%;
}
.value_heading h2 {
  font-size: 18px;
  font-weight: 500;
}

.value_description {
  margin-top: 14px;
  font-size: 14px;
  color: #9a9a9a;
}

@media (min-width: 1080px) {
  .featured_text_heading {
    font-size: 38px;
  }
  .featured_text_paragraph {
    font-size: 16px;
  }
  .ourValue_container {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .values_container {
    padding: 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
  }
  .value_heading {
    gap: 10px;
  }
  .value_logo_container {
    width: 60px;
    height: 60px;
  }
  .value_heading h2 {
    font-size: 20px;
  }

  .value_description {
    margin-top: 16px;
    font-size: 16px;
  }
}

/* achivement container */

.achivement_list_container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.achivement_container {
  padding: 30px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 10px#e2e2e2;
  border-radius: 12px;
}
.achivement_heading {
  font-size: 20px;
  font-weight: 600;
}

.achivement_paragraph {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #9a9a9a;
}

@media (min-width: 1080px) {
  .achivement_list_container {
    margin-top: 60px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .achivement_container {
    padding: 40px;
    flex: 1;
  }
  .achivement_heading {
    font-size: 24px;
  }

  .achivement_paragraph {
    margin-top: 24px;
    font-size: 16px;
  }
}

/*  Navigating the Estatein Experience Container */

.steps_list_container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
.step_number_container {
  padding: 14px 16px;
  border-left: 1px solid #703bf7;
}
.step_number {
  font-size: 16px;
  font-weight: 500;
}

.step_body {
  padding: 30px;
  border: 1px solid transparent;
  border-image: linear-gradient(145deg, #703bf7 0%, rgba(112, 59, 247, 0) 36%);
  border-image-slice: 1;
  border-radius: 0 12px 12px 12px;
  box-shadow: 1px 0 10px #e2e2e2;
}
.step_body_heading {
  font-size: 18px;
  font-weight: 600;
}
.step_body_paragraph {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
  color: #9a9a9a;
  text-align: justify;
}

@media (min-width: 1080px) {
  .steps_list_container {
    margin-top: 60px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
  }

  .step_body {
    padding: 40px;
    min-height: 222px;
  }
  .step_body_heading {
    font-size: 20px;
  }
  .step_body_paragraph {
    margin-top: 16px;
    font-size: 16px;
  }
}
