.footer_first_container {
  margin-top: 80px;
  padding: 50px 10px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/Abstract_Design_bg_light.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1640px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.footer_first_text_heading {
  font-size: 28px;
  font-weight: 600;
}

.footer_first_text_paragraph {
  font-size: 14px;
  font-weight: 500;
  margin-top: 6px;
  text-align: justify;
  color: #9a9a9a;
}
.footer_first_btn {
  margin-top: 30px;
  padding: 14px 20px;
  border: 0 none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  background-color: #703bf7;
  color: #fff;
}

.footer_second_container {
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1640px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.footer_second_mail_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_logo_container {
  width: 113px;
}
.footer_logo {
  width: 100%;
}

.links_container {
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.link_heading {
  font-size: 16;
  font-weight: 500;
  color: #999999;
}

.link_body {
  margin-top: 16px;
  font-size: 14px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_third_container {
  background-color: #f0f0fb;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.socal_link_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.socal_link {
  width: 60px;
  height: 60px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.socal_link:hover {
  background-color: #c1c1c1;
  color: #703bf7;
}

.terms_conditions_container {
  text-align: center;
}

.terms_conditions_container a {
  text-decoration: none;
}

@media (min-width: 1080px) {
  .footer_first_container {
    margin-top: 80px;
    padding: 60px 80px;
    flex-direction: row;
    gap: 150px;
  }

  .footer_first_text_heading {
    font-size: 38px;
  }

  .footer_first_text_paragraph {
    font-size: 16px;
    margin-top: 10px;
  }

  .footer_first_btn {
    min-width: 152px;
    height: 49px;
    font-size: 12px;
  }

  .footer_second_container {
    padding: 80px;
    flex-direction: row;
    gap: 80px;
  }

  .footer_second_mail_container {
    flex: 1;
  }
  .links_container {
    flex: 2;
    grid-template-columns: repeat(4, 1fr);
  }

  .link_heading {
    font-size: 18;
  }

  .link_body {
    margin-top: 24px;
    font-size: 16px;
    padding-bottom: 0px;
    gap: 16px;
  }

  .footer_third_container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .terms_conditions_container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
