/* mob nav bar */

.navbar_container {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 20px 16px;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0fb;
}

.logo_container {
  width: 94px;
}

.logo {
  width: 100%;
}
